<div id="container">
    <ol id="videos-list">
    <% @videos.each do |video| %>
        <li class="videos-list-item">
            <a class="video-link" href="https://www.youtube.com/watch?v=<%= video.id %>" target="_blank">
                <img src="<%= video.snippet.thumbnails.default.url %>" height="90" width="120">
                <span class="channel-title"><%= video.snippet.channel_title %></span>
                <span class="video-title"><%= video.snippet.title %></span>
            </a>
        </li>
    <% end %>
    </ol>
</div>